---
// src/pages/404.astro
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="404 - Not Found">
  <div class="min-h-[100%] flex items-center justify-center px-4">
    <div class="text-center space-y-6 animate">
      <h1 class="text-7xl font-bold">404</h1>
      <p class="text-xl">Страница не найдена</p>
      <a href="/" class="inline-block underline">На главную</a>
    </div>
  </div>
</PageLayout>
